{% extends "layout.html" %}

{% block container %}
<div class="row-fluid">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">What is project EagleSense?</h3>
            </div>
            <div class="panel-body">
                <p>Duis vel elit ac velit consectetur vestibulum. Sed aliquam quis ipsum sit amet pulvinar. Etiam placerat est eget mollis ullamcorper. Integer ullamcorper tellus quis nibh laoreet porta. Maecenas sagittis risus vulputate vulputate luctus. Praesent neque orci, ullamcorper id sem ac, fermentum congue nunc. Aenean rhoncus dolor id ornare suscipit. Morbi vel molestie massa. Maecenas tempus vehicula mauris, eget aliquam nisi fringilla non. Aliquam risus lectus, tempus sed bibendum non, interdum sit amet mauris. Duis et quam et sapien molestie rutrum sed in erat. Mauris pretium nunc at orci scelerisque, id facilisis arcu fermentum.</p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">What is the current progress?</h3>
            </div>
            <div class="panel-body">
                <p>Duis vel elit ac velit consectetur vestibulum. Sed aliquam quis ipsum sit amet pulvinar. Etiam placerat est eget mollis ullamcorper. Integer ullamcorper tellus quis nibh laoreet porta. Maecenas sagittis risus vulputate vulputate luctus. Praesent neque orci, ullamcorper id sem ac, fermentum congue nunc. Aenean rhoncus dolor id ornare suscipit. Morbi vel molestie massa. Maecenas tempus vehicula mauris, eget aliquam nisi fringilla non. Aliquam risus lectus, tempus sed bibendum non, interdum sit amet mauris. Duis et quam et sapien molestie rutrum sed in erat. Mauris pretium nunc at orci scelerisque, id facilisis arcu fermentum.</p>
            </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Publications</h3>
            </div>
            <div class="panel-body">
                <p>Duis vel elit ac velit consectetur vestibulum. Sed aliquam quis ipsum sit amet pulvinar. Etiam placerat est eget mollis ullamcorper. Integer ullamcorper tellus quis nibh laoreet porta. Maecenas sagittis risus vulputate vulputate luctus. Praesent neque orci, ullamcorper id sem ac, fermentum congue nunc. Aenean rhoncus dolor id ornare suscipit. Morbi vel molestie massa. Maecenas tempus vehicula mauris, eget aliquam nisi fringilla non. Aliquam risus lectus, tempus sed bibendum non, interdum sit amet mauris. Duis et quam et sapien molestie rutrum sed in erat. Mauris pretium nunc at orci scelerisque, id facilisis arcu fermentum.</p>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Who are we?</h3>
            </div>
            <div class="panel-body">
                <p>Duis vel elit ac velit consectetur vestibulum. Sed aliquam quis ipsum sit amet pulvinar. Etiam placerat est eget mollis ullamcorper. Integer ullamcorper tellus quis nibh laoreet porta. Maecenas sagittis risus vulputate vulputate luctus. Praesent neque orci, ullamcorper id sem ac, fermentum congue nunc. Aenean rhoncus dolor id ornare suscipit. Morbi vel molestie massa. Maecenas tempus vehicula mauris, eget aliquam nisi fringilla non. Aliquam risus lectus, tempus sed bibendum non, interdum sit amet mauris. Duis et quam et sapien molestie rutrum sed in erat. Mauris pretium nunc at orci scelerisque, id facilisis arcu fermentum.</p>
            </div>
        </div>
    </div>
</div>

{% end %}

{% block js %}

<script>
    $(document).ready(function() {
    });
</script>

{% end %}