{% extends "layout.html" %}

{% block container %}
<div class="row-fluid">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Developer</h3>
            </div>
            <div class="panel-body">
                <p>Chi-Jui Wu</p>
                <p>Email: chijuiwu.taiwan@gmail.com</p>
            </div>
        </div>
        <!--<div class="panel panel-success">-->
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">Designer</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
                <!--<p></p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

{% end %}

{% block js %}

<script>
    $(document).ready(function() {
    });
</script>

{% end %}