{% extends "layout.html" %}

{% block container %}
<div class="row-fluid">
    <div class="col-md-6 col-md-offset-4">
        <div style="border-style:solid;width:492px;height:414px" id="tracking-visualization"></div>
    </div>
    <div class="col-md-2">
        <p id="server_online" class="hidden text-info"><i class="material-icons">laptop_chromebook</i>&nbsp; Server <i class="fa fa-check"></i></p>
        <p id="server_offline" class="hidden text-danger"><i class="material-icons">laptop_chromebook</i>&nbsp; Server <i class="fa fa-times"></i></p>
        <p id="kinect_online" class="hidden text-info"><i class="material-icons">videocam</i>&nbsp; Kinect <i class="fa fa-check"></i></p>
        <p id="kinect_offline" class="hidden text-danger"><i class="material-icons">people</i>&nbsp; Kinect <i class="fa fa-times"></i></p>
        <h3 class="text-info"><i class="material-icons">people</i>&nbsp; <span id="num_people">0</span></h3>
        <h3 class="text-info"><i class="material-icons">phone_android</i>&nbsp;<span id="num_phones"> 0</span></h3>
        <h3 class="text-info"><i class="material-icons">tablet_android</i>&nbsp; <span id="num_tablets">0</span></h3>
        <!--<div class="panel panel-warning" id="live_information_panel">-->
            <!--<div class="panel-heading"><i class="fa fa-play fa-fw"></i>&nbsp; Live stream</div>-->
            <!--<div class="panel-body" id="live_information_body">-->
                <!--<p id="server_online" class="hidden text-info"><i class="material-icons">laptop_chromebook</i>&nbsp; Server <i class="fa fa-check"></i></p>-->
                <!--<p id="server_offline" class="hidden text-danger"><i class="material-icons">laptop_chromebook</i>&nbsp; Server <i class="fa fa-times"></i></p>-->
                <!--<p id="kinect_online" class="hidden text-info"><i class="material-icons">videocam</i>&nbsp; Kinect <i class="fa fa-check"></i></p>-->
                <!--<p id="kinect_offline" class="hidden text-danger"><i class="material-icons">people</i>&nbsp; Kinect <i class="fa fa-times"></i></p>-->
                <!--<p class="text-info"><i class="material-icons">people</i>&nbsp; <span id="num_people">0</span></p>-->
                <!--<p class="text-info"><i class="material-icons">phone_android</i>&nbsp;<span id="num_phones"> 0</span></p>-->
                <!--<p class="text-info"><i class="material-icons">tablet_android</i>&nbsp; <span id="num_tablets">0</span></p>-->
                <!--&lt;!&ndash;<p class="text-warning"><i class="material-icons">watch</i>&nbsp; 0</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="text-warning"><i class="material-icons">toys</i>&nbsp; 0</p>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <!--<div class="col-md-4 controls" id="live_information">-->
        <!--<div class="panel panel-info" id="live_information_panel">-->
            <!--<div class="panel-heading"><i class="fa fa-play fa-fw"></i>&nbsp; Live stream</div>-->
            <!--<div class="panel-body" id="live_information_body">-->
                <!--<p id="server_online" class="hidden text-success"><i class="material-icons">laptop_chromebook</i>&nbsp; Server <i class="fa fa-check"></i></p>-->
                <!--<p id="server_offline" class="hidden text-danger"><i class="material-icons">laptop_chromebook</i>&nbsp; Server <i class="fa fa-times"></i></p>-->
                <!--<p id="kinect_online" class="hidden text-success"><i class="material-icons">videocam</i>&nbsp; Kinect <i class="fa fa-check"></i></p>-->
                <!--<p id="kinect_offline" class="hidden text-danger"><i class="material-icons">people</i>&nbsp; Kinect <i class="fa fa-times"></i></p>-->
                <!--<p class="text-warning"><i class="material-icons">people</i>&nbsp; <span id="num_people">0</span></p>-->
                <!--<p class="text-warning"><i class="material-icons">phone_android</i>&nbsp;<span id="num_phones"> 0</span></p>-->
                <!--<p class="text-warning"><i class="material-icons">tablet_android</i>&nbsp; <span id="num_tablets">0</span></p>-->
                <!--&lt;!&ndash;<p class="text-warning"><i class="material-icons">watch</i>&nbsp; 0</p>&ndash;&gt;-->
                <!--&lt;!&ndash;<p class="text-warning"><i class="material-icons">toys</i>&nbsp; 0</p>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

{% end %}

{% block js %}

<script src="{{ static_url('d3.hexbin.min.js') }}"></script>
<script src="{{ static_url('tracking.js') }}"></script>

<script>
    $(document).ready(function() {
        setup_tracking("#tracking-visualization", 512 - 20, 424 - 10);
        start_tracking();

        <!--var content_height = $("body").height() - $("#navbar").outerHeight() - 1;-->
        <!--$("#live_information").height(424);-->
        <!--$("#live_information_panel").height(424);-->
        <!--var visualization_padding_left = parseInt($("#visualization").css("padding-left"));-->
        <!--var visualization_padding_right = parseInt($("#visualization").css("padding-right"));-->
        <!--var visualization_width = $("#visualization").outerWidth()-->
            <!-- - visualization_padding_left-->
            <!-- - visualization_padding_right;-->
        <!--var visualization_height = content_height;-->
    });
</script>

{% end %}
